<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GameEra | Store</title>

    <meta name="keywords" content="game, gaming, template, HTML template, responsive, Bootstrap, premium">
    <meta name="author" content="_nK">

    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet"
        type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script defer src="assets/vendor/fontawesome-free/js/all.js"></script>
    <script defer src="assets/vendor/fontawesome-free/js/v4-shims.js"></script>

    <!-- IonIcons -->
    <link rel="stylesheet" href="assets/vendor/ionicons/css/ionicons.min.css">

    <!-- Flickity -->
    <link rel="stylesheet" href="assets/vendor/flickity/dist/flickity.min.css">

    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/default-skin/default-skin.css">

    <!-- Seiyria Bootstrap Slider -->
    <link rel="stylesheet" href="assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css">

    <!-- Summernote -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/summernote/dist/summernote-bs4.css">

    <!-- GoodGames -->
    <link rel="stylesheet" href="assets/css/goodgames.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="custom-styles.css">

    <!-- END: Styles -->

    <!-- jQuery -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


</head>


<!--
    Additional Classes:
        .nk-page-boxed
-->

<body>
    <%- include("partials/navbar.ejs") %>
        <div class="nk-main">

            <!-- START: Breadcrumbs -->
            <div class="nk-gap-1"></div>
            <div class="container">
                <ul class="nk-breadcrumbs">


                    <li><a href="/">Home</a></li>


                    <li><span class="fa fa-angle-right"></span></li>

                    <li><span>Store</span></li>

                </ul>
            </div>
            <div class="nk-gap-1"></div>
            <!-- END: Breadcrumbs -->




            <div class="container">
                <!-- START: Categories -->
                <div class="row vertical-gap">
                    <div class="col-lg-4">
                        <div class="nk-feature-1">
                            <div class="nk-feature-icon">
                                <img src="assets/images/icon-mouse.png" alt="">
                            </div>
                            <div class="nk-feature-cont">
                                <h3 class="nk-feature-title"><a href="#">
                                        <%- genre1 %>
                                    </a></h3>
                                <h3 class="nk-feature-title text-main-1"><a href="#">View Games</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="nk-feature-1">
                            <div class="nk-feature-icon">
                                <img src="assets/images/icon-gamepad.png" alt="">
                            </div>
                            <div class="nk-feature-cont">
                                <h3 class="nk-feature-title"><a href="#">
                                        <%- genre2 %>
                                    </a></h3>
                                <h3 class="nk-feature-title text-main-1"><a href="#">View Games</a></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="nk-feature-1">
                            <div class="nk-feature-icon">
                                <img src="assets/images/icon-gamepad-2.png" alt="">
                            </div>
                            <div class="nk-feature-cont">
                                <h3 class="nk-feature-title"><a href="#">
                                        <%- genre3 %>
                                    </a></h3>
                                <h3 class="nk-feature-title text-main-1"><a href="#">View Games</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Categories -->

                <!-- START: Some Products -->
                <div class="nk-gap-2"></div>
                <div class="row vertical-gap">
                    <div class="col-md-6 col-lg-4">
                        <div class="nk-gallery-item-box">
                            <a href="/store-product?game_id=<%- featuredProduct1.id %>" class="nk-gallery-item">
                                <span class="nk-gallery-item-overlay"><span><span
                                            class="nk-icon-circles"></span></span></span>
                                <img src="assets/images/product-4-lg.jpg" alt="<%- featuredProduct1.title %>">
                            </a>
                            <div class="nk-gallery-item-label">
                                <h4 class="mb-0">
                                    <%- featuredProduct1.title %>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 order-lg-3">
                        <div class="nk-gallery-item-box">
                            <a href="/store-product?game_id=<%- featuredProduct2.id %>" class="nk-gallery-item">
                                <span class="nk-gallery-item-overlay"><span><span
                                            class="nk-icon-circles"></span></span></span>
                                <img src="assets/images/product-2-lg.jpg" alt="<%- featuredProduct2.title %>">
                            </a>
                            <div class="nk-gallery-item-label">
                                <h4 class="mb-0">
                                    <%- featuredProduct2.title %>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="row vertical-gap">
                            <div class="col-md-6">
                                <div class="nk-gallery-item-box">
                                    <a href="/store-product?game_id=<%- semiFeaturedProduct1.id %>" class="nk-gallery-item">
                                        <span class="nk-gallery-item-overlay"><span><span
                                                    class="nk-icon-circles"></span></span></span>
                                        <img src="assets/images/product-3-lg.jpg"
                                            alt="<%- semiFeaturedProduct1.title %>">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="nk-gallery-item-box">
                                    <a href="/store-product?game_id=<%- semiFeaturedProduct2.id %>" class="nk-gallery-item">
                                        <span class="nk-gallery-item-overlay"><span><span
                                                    class="nk-icon-circles"></span></span></span>
                                        <img src="assets/images/product-1-lg.jpg"
                                            alt="<%- semiFeaturedProduct2.title %>">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="nk-gallery-item-box">
                                    <a href="/store-product?game_id=<%- semiFeaturedProduct3.id %>" class="nk-gallery-item">
                                        <span class="nk-gallery-item-overlay"><span><span
                                                    class="nk-icon-circles"></span></span></span>
                                        <img src="assets/images/product-5-lg.jpg"
                                            alt="<%- semiFeaturedProduct3.title %>">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="nk-gallery-item-box">
                                    <a href="/store-product?game_id=<%- semiFeaturedProduct4.id %>" class="nk-gallery-item">
                                        <span class="nk-gallery-item-overlay"><span><span
                                                    class="nk-icon-circles"></span></span></span>
                                        <img src="assets/images/product-6-lg.jpg"
                                            alt="<%- semiFeaturedProduct4.title %>">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Some Products -->

                <!-- START: Content Based Game Recommendations -->
                <div class="nk-gap-3"></div>
                <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Top 10</span> Recommendations </span></h3>
                <div class="nk-gap"></div>
                <div class="nk-carousel nk-carousel-x4" data-autoplay="5000" data-dots="false" data-cell-align="left"
                    data-arrows="true">
                    <div class="nk-carousel-inner">

                        <% for( let i=0; i < top10Recs.length; i++ ) { %>
                            <div>
                                <div class="pl-5 pr-5">
                                    <div class="nk-product-cat-3">
                                        <a class="nk-product-image" href="/store-product?game_id=<%- top10Recs[i].id %>">
                                            <img src="<%- top10Recs[i].img %>" alt="<%- top10Recs[i].title %>">
                                        </a>
                                        <div class="nk-product-cont">
                                            <div class="nk-gap-1"></div>
                                            <h3 class="nk-product-title h5"><a href="/store-product?game_id=<%- top10Recs[i].id %>">
                                                    <%- top10Recs[i].title %>
                                                </a></h3>
                                            <div class="nk-gap-1"></div>
                                            <div class="nk-product-price">$ <%- top10Recs[i].price %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
                <!-- END: Game Recommendations -->

                <!-- START: Featured Games -->
                <div class="nk-gap-3"></div>
                <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Featured</span> Games</span></h3>
                <div class="nk-gap"></div>
                <div class="row vertical-gap">

                    <% for( let i=0; i < fourFeaturedGames.length; i++ ) { %>
                        <div class="col-lg-6">
                            <div class="nk-product-cat-2">
                                <a class="nk-product-image" href="/store-product?game_id=<%- fourFeaturedGames[i].id %>">
                                    <img src="<%- fourFeaturedGames[i].img %>" alt="<%- fourFeaturedGames[i].title %>">
                                </a>
                                <div class="nk-product-cont">
                                    <h3 class="nk-product-title h5"><a href="/store-product?game_id=<%- fourFeaturedGames[i].id %>">
                                            <%- fourFeaturedGames[i].title %>
                                        </a></h3>
                                    <div class="nk-gap-1"></div>
                                    <div class="nk-product-rating" data-rating="<%- fourFeaturedGames[i].rating %>">
                                        <% for( let j=0; j < fourFeaturedGames[i].rating; j++ ) { %>
                                            <i class="fa fa-star"></i>
                                            <% } %>
                                                <% for( let j=0; j < 5 - fourFeaturedGames[i].rating; j++ ) { %>
                                                    <i class="far fa-star"></i>
                                                    <% } %>
                                    </div>
                                    <div class="nk-gap-1"></div>
                                    <%- fourFeaturedGames[i].desc %>
                                        <div class="nk-gap-2"></div>
                                        <div class="nk-product-price">$ <%- fourFeaturedGames[i].price %>
                                        </div>
                                        <div class="nk-gap-1"></div>
                                        <a href="#"
                                            class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Buy</a>
                                </div>
                            </div>
                        </div>
                        <% } %>

                </div>
                <!-- END: Featured Games -->

                <!-- START: Most Popular -->
                <div class="nk-gap-3"></div>
                <h3 class="nk-decorated-h-2"><span><span class="text-main-1">Most</span> Popular</span></h3>
                <div class="nk-gap"></div>
                <div class="row vertical-gap">

                    <% for( let i=0; i < mostPopularGames.length; i++ ) { %>
                        <div class="col-lg-4 col-md-6">
                            <div class="nk-product-cat">
                                <a class="nk-product-image" href="/store-product?game_id=<%- mostPopularGames[i].id %>">
                                    <img src="<%- mostPopularGames[i].img %>" alt="<%- mostPopularGames[i].title %>">
                                </a>
                                <div class="nk-product-cont">
                                    <h3 class="nk-product-title h5"><a href="/store-product?game_id=<%- mostPopularGames[i].id %>">
                                            <%- mostPopularGames[i].title %>
                                        </a></h3>
                                    <div class="nk-gap-1"></div>
                                    <div class="nk-product-rating" data-rating="<%- mostPopularGames[i].rating %>">
                                        <% for( let j=0; j < mostPopularGames[i].rating; j++ ) { %>
                                            <i class="fa fa-star"></i>
                                            <% } %>
                                                <% for( let j=0; j < 5 - mostPopularGames[i].rating; j++ ) { %>
                                                    <i class="far fa-star"></i>
                                                    <% } %>
                                    </div>
                                    <div class="nk-gap-1"></div>
                                    <div class="nk-product-price">$ <%- mostPopularGames[i].price %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <!-- END: Most Popular -->
            </div>

            <div class="nk-gap-2"></div>
            <%- include("partials/footer.ejs") %>
        </div>




        <!-- START: Page Background -->

        <img class="nk-page-background-top" src="assets/images/bg-top-4.png" alt="">
        <img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt="">

        <!-- END: Page Background -->




        <%- include('partials/search_modal.ejs') %>
            <%- include('partials/login_modal.ejs') %>
                <%- include('partials/login_manager.ejs') %>




                    <!-- START: Scripts -->

                    <script>
                        $(".chosen-select").chosen({
                            no_results_text: "Oops, nothing found!"
                        })
                        $(".js-example-basic-multiple").select2({
                            placeholder: "Search by genres"
                        });
                    </script>

                    <!-- Object Fit Polyfill -->
                    <script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

                    <!-- GSAP -->
                    <script src="assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
                    <script src="assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

                    <!-- Popper -->
                    <script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>

                    <!-- Bootstrap -->
                    <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

                    <!-- Sticky Kit -->
                    <script src="assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

                    <!-- Jarallax -->
                    <script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
                    <script src="assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

                    <!-- imagesLoaded -->
                    <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

                    <!-- Flickity -->
                    <script src="assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

                    <!-- Photoswipe -->
                    <script src="assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
                    <script src="assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

                    <!-- Jquery Validation -->
                    <script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

                    <!-- Jquery Countdown + Moment -->
                    <script src="assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
                    <script src="assets/vendor/moment/min/moment.min.js"></script>
                    <script src="assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

                    <!-- Hammer.js -->
                    <script src="assets/vendor/hammerjs/hammer.min.js"></script>

                    <!-- NanoSroller -->
                    <script src="assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

                    <!-- SoundManager2 -->
                    <script src="assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

                    <!-- Seiyria Bootstrap Slider -->
                    <script src="assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

                    <!-- Summernote -->
                    <script src="assets/vendor/summernote/dist/summernote-bs4.min.js"></script>

                    <!-- nK Share -->
                    <script src="assets/plugins/nk-share/nk-share.js"></script>

                    <!-- GoodGames -->
                    <script src="assets/js/goodgames.min.js"></script>
                    <script src="assets/js/goodgames-init.js"></script>
                    <!-- END: Scripts -->



</body>

</html>