<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GameEra | Cart</title>

    <meta name="keywords" content="game, gaming, template, HTML template, responsive, Bootstrap, premium">
    <meta name="author" content="_nK">

    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- START: Styles -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700%7cOpen+Sans:400,700" rel="stylesheet"
        type="text/css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- FontAwesome -->
    <script defer src="assets/vendor/fontawesome-free/js/all.js"></script>
    <script defer src="assets/vendor/fontawesome-free/js/v4-shims.js"></script>

    <!-- IonIcons -->
    <link rel="stylesheet" href="assets/vendor/ionicons/css/ionicons.min.css">

    <!-- Flickity -->
    <link rel="stylesheet" href="assets/vendor/flickity/dist/flickity.min.css">

    <!-- Photoswipe -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/photoswipe.css">
    <link rel="stylesheet" type="text/css" href="assets/vendor/photoswipe/dist/default-skin/default-skin.css">

    <!-- Seiyria Bootstrap Slider -->
    <link rel="stylesheet" href="assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css">

    <!-- Summernote -->
    <link rel="stylesheet" type="text/css" href="assets/vendor/summernote/dist/summernote-bs4.css">

    <!-- GoodGames -->
    <link rel="stylesheet" href="assets/css/goodgames.css">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="custom-styles.css">

    <!-- END: Styles -->

    <!-- jQuery -->
    <script src="assets/vendor/jquery/dist/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


</head>


<!--
    Additional Classes:
        .nk-page-boxed
-->

<body>
    <%- include("partials/navbar.ejs") %>
        <div class="nk-main">

            <!-- START: Breadcrumbs -->
            <div class="nk-gap-1"></div>
            <div class="container">
                <ul class="nk-breadcrumbs">


                    <li><a href="/">Home</a></li>


                    <li><span class="fa fa-angle-right"></span></li>

                    <li><a href="/store">Store</a></li>


                    <li><span class="fa fa-angle-right"></span></li>

                    <li><span>Owned Games</span></li>

                </ul>
            </div>
            <div class="nk-gap-1"></div>
            <!-- END: Breadcrumbs -->




            <div class="container">
                <div class="nk-store nk-store-cart">
                    <div class="table-responsive">

                        <!-- START: Products in Cart -->
                        <table class="table nk-store-cart-products">
                            <tbody>

                                <% for( let i = 0; i < games.length; i++ ) { %>                                
                                    <tr>
                                        <td class="nk-product-cart-thumb">
                                            <a href="/store-product?game_id=<%- games[i].id %>" class="nk-image-box-1 nk-post-image">
                                                <img src="<%- games[i].img %>" alt="<%- games[i].title %>"
                                                    width="115">
                                            </a>
                                        </td>
                                        <td class="nk-product-cart-title">
                                            <h5 class="h6">Product:</h5>
                                            <div class="nk-gap-1"></div>

                                            <h2 class="nk-post-title h4">
                                                <a href="/store-product?game_id=<%- games[i].id %>"><%- games[i].title %></a>
                                            </h2>
                                        </td>
                                        <td class="nk-product-cart-price">
                                            <h5 class="h6">Price:</h5>
                                            <div class="nk-gap-1"></div>

                                            <strong>$ <%- games[i].price %></strong>
                                        </td>
                                    </tr>
                                <% } %>

                            </tbody>
                        </table>
                        <!-- END: Products in Cart -->

                    </div>
                    <div class="nk-gap-1"></div>
                    <a class="nk-btn nk-btn-rounded nk-btn-color-white float-right" href="/store-cart">Update List</a>

                    <div class="clearfix"></div>
                    <div class="nk-gap-2"></div>
                    

                </div>
            </div>

            <div class="nk-gap-2"></div>



            <%- include("partials/footer.ejs") %>


        </div>




        <!-- START: Page Background -->

        <img class="nk-page-background-top" src="assets/images/bg-top-4.png" alt="">
        <img class="nk-page-background-bottom" src="assets/images/bg-bottom.png" alt="">

        <!-- END: Page Background -->




        <%- include('partials/search_modal.ejs') %>
            <%- include('partials/login_modal.ejs') %>
            <%- include('partials/login_manager.ejs') %>




        <!-- START: Scripts -->

        <script>
            $(".chosen-select").chosen({
                no_results_text: "Oops, nothing found!"
            })
            $(".js-example-basic-multiple").select2({
                placeholder: "Search by genres"
            });
        </script>

        <!-- Object Fit Polyfill -->
        <script src="assets/vendor/object-fit-images/dist/ofi.min.js"></script>

        <!-- GSAP -->
        <script src="assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
        <script src="assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

        <!-- Popper -->
        <script src="assets/vendor/popper.js/dist/umd/popper.min.js"></script>

        <!-- Bootstrap -->
        <script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Sticky Kit -->
        <script src="assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

        <!-- Jarallax -->
        <script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
        <script src="assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

        <!-- imagesLoaded -->
        <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

        <!-- Flickity -->
        <script src="assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

        <!-- Photoswipe -->
        <script src="assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
        <script src="assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

        <!-- Jquery Validation -->
        <script src="assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

        <!-- Jquery Countdown + Moment -->
        <script src="assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
        <script src="assets/vendor/moment/min/moment.min.js"></script>
        <script src="assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

        <!-- Hammer.js -->
        <script src="assets/vendor/hammerjs/hammer.min.js"></script>

        <!-- NanoSroller -->
        <script src="assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

        <!-- SoundManager2 -->
        <script src="assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

        <!-- Seiyria Bootstrap Slider -->
        <script src="assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

        <!-- Summernote -->
        <script src="assets/vendor/summernote/dist/summernote-bs4.min.js"></script>

        <!-- nK Share -->
        <script src="assets/plugins/nk-share/nk-share.js"></script>

        <!-- GoodGames -->
        <script src="assets/js/goodgames.min.js"></script>
        <script src="assets/js/goodgames-init.js"></script>
        <!-- END: Scripts -->



</body>

</html>